* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Times New Roman', Times, serif;
  line-height: 1.8;
  background-color: rgba(251, 207, 50, 0.829);

  display: flex;
  flex-direction: column;
  align-items: center;
}
#toDoApp{
  display: flex;
  justify-content: center;
  margin: 20px 0 10px 0;
}
#container{
width: 85vw;
background-color: antiquewhite;
padding: 20px;
margin-top: 20px;
border-radius: 30px;
height: 90vh;
font-size: 1.1em;
box-shadow: 3px 3px 15px;
}
.tasks{
  font-size: 1.3em;
  margin-top: 30px;
}

h1 {
  font-size: 2.5em;
  line-height: 1.1;
  margin-bottom: 40px;
}

#section__Done{
    color: antiquewhite;
    text-decoration: line-through;
}  
ul{
padding: 0px;
}
li{
list-style: none;
padding: 10px 15px 10px 20px;
margin-bottom: 5px;
background-color: rgb(231, 204, 172);
border-radius: 20px;
}